<div class="chess-container">
  <div class="board" cdkDropListGroup>
    <div *ngFor="let row of boardGrid; let rIdx = index" class="board-row">
      <div
        *ngFor="let piece of row; let cIdx = index"
        class="square"
        [ngClass]="{
          'light': (rIdx + cIdx) % 2 === 0,
          'dark': (rIdx + cIdx) % 2 !== 0,
          'selected-square': selectedSquare === getAlgebraicCoords(rIdx, cIdx)
        }" 
        cdkDropList
        (cdkDropListDropped)="onDrop($event, rIdx, cIdx)"
        (click)="onSquareClick(rIdx, cIdx)"
      >
        <div class="check-overlay" *ngIf="isKingInCheck(piece, rIdx, cIdx)"></div>

        <div
          class="last-move-highlight"
          *ngIf="
            (gameState.status$ | async)?.lastMove?.from === getAlgebraicCoords(rIdx, cIdx) ||
            (gameState.status$ | async)?.lastMove?.to === getAlgebraicCoords(rIdx, cIdx)
          "
        ></div>

        <div class="legal-move-dot" *ngIf="isLegalMove(rIdx, cIdx) && !piece"></div>
        <div class="legal-move-ring" *ngIf="isLegalMove(rIdx, cIdx) && piece"></div>

        <img
          *ngIf="piece"
          [src]="pieceImages[piece]"
          class="piece-img"
          cdkDrag
          [cdkDragData]="getAlgebraicCoords(rIdx, cIdx)"
        />
        
        <div *cdkDragPlaceholder class="cdk-drag-placeholder"></div>
      </div>
    </div>
    <div class="promotion-modal" *ngIf="pendingPromotion">
      <div class="promotion-dialog" [ngStyle]="getPromotionStyle()">
        <img [src]="'assets/pieces/' + promotionColor + 'q.png'" (click)="confirmPromotion('q')">
        <img [src]="'assets/pieces/' + promotionColor + 'n.png'" (click)="confirmPromotion('n')">
        <img [src]="'assets/pieces/' + promotionColor + 'r.png'" (click)="confirmPromotion('r')">
        <img [src]="'assets/pieces/' + promotionColor + 'b.png'" (click)="confirmPromotion('b')">
        <button class="close-promo" (click)="cancelPromotion()">✕</button>
      </div>
  </div>
    
  </div>
</div>